@import "../S/kurs.css";

code { color: #453a62; }
pre { margin-left: 1em; }
pre.interactive code, code.interactive {
    font-style: italic;
    background-color: #ffc;
}

pre.Prelude code:before {
    font-weight: bold; font-style: normal;
    background-color: #f9f9f9;
    content: "Prelude> ";
}

pre.Main code:before {
    font-weight: bold; font-style: normal;
    background-color: #f9f9f9;
    content: "*Main> ";
}


pre.shell code:before {
    font-weight: bold; font-style: normal;
    background-color: #f9f9f9;
    content: "candela04> ";
}

div.question {
    margin: 3ex 1em;
    padding: 1ex;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
    min-height: 35px;
}

div.question>a>img {
    float: left;
}