@import "../labs.css";

table.sudoku {
    display: inline-table;
    margin: 0.5em;
    border-collapse: collapse;
    border: 2px solid black;
    background: white;
}

table.sudoku td,table.sudoku th {
    border: 1px solid black; width: 2em; height: 2em;
    font-weight: bold; font-family: sans-serif;
}
table.sudoku th { background: #ddd; }

table.sudoku tr:nth-child(3) > *,table.sudoku tr:nth-child(6) > *
{ border-bottom-width: 2px; }
table.sudoku tr > *:nth-child(3),table.sudoku tr > *:nth-child(6)
{ border-right-width: 2px; }

pre.interactive code:before {
    font-weight: bold; font-style: normal;
    content: "*Sudoku> ";
}

@media print {
    pre { page-break-inside: avoid; }
    h1,h2,h3 { page-break-after: avoid; }
}
